/* button 
---------------------------------------------- */

.bigrounded {
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

.medium {
  font-size: 12px;
  padding: .4em 1.5em .42em;
}

.small-button {
  font-size: 11px;
  padding: .2em 1em .275em;
}

