table.bordered {
	border: solid black 1px;
	border-style: collapse;

  td {
    border:solid black 1px;
    border-style: collapse;
  }

  th {
	  border:solid black 1px;
	  border-style: collapse;
  }

}

li.username {
color:#d0d0d0;
}

/*.alert {
background-color:#ff0000;
color:#ffffff;
}*/

.row {
  label {
    font-weight:bold;
    text-align:right;	
  }
  label::after {
    content: ':'
  }

}

td.label_required label:after {
  content: " *";
  color:#ff0000;
}

td.label {
  font-weight:bold;
  text-align:right;	
  vertical-align:top;
}

td.label_l {
  font-weight:bold;
  text-align:left;
}

#footer {
	width:100%;
	position:relative;
	float:left;
	box-shadow: 10px 10px 5px #888;
	-webkit-shadow: 10px 10px 5px #888;
	
	margin-top:25px;	
}

#sidebar {
	position:relative;
	top:0px;
	float:right;
}

h2.error {
	border: solid silver 1px;
	color:#ff0000;
	font-weight:bold;
}

table.border {
	border:solid silver 1px;
	margin:0;
	border-collapse:collapse;

  tr {
    border:solid silver 1px;
  }

  td,th {
    border:solid silver 1px;
    padding:2px;
  }
}

table td.check {
	text-align:center;
}


table.short {
  width: 50%
}

.flash {
  width: 70%;
}

#flash-message {
  width: 70%;
}

td.invalid {
        background-color:#ff0000;
        color: #ffffff;
}

td.warning {
        background-color:#ffff00;
}

.actions-bar {
	clear:both;
}

#entry_info {
	width:200px;
	margin-left:auto;
	margin-right:auto;
	padding-top:5px;
	padding-bottom:5px;
	clear:both;
}

.translation_missing {
	border: solid red 2px;
}


.entity_warning {
  border: solid #ff0000 1px;
  width:80%;

  padding:10px;
  font-size:14pt;
  color: #ff0000;
}

input.quickaccess {
  font-size:24pt;
}

span.payed {
  margin-top:10px;
  background:green;
  color:white;
  font-size:20pt;
  padding:3px;
}

span.not_payed { 
  margin-top:10px;
  background:red;
  color:white;
  font-size:20pt;
  padding:3px;

}
