/*

    Drastic Dark
    by Juan Maria Martinez Arce
       juan[at]insignia4u.com

    light grey:                 #cfcfcf
    medium grey:                #36393d
    dark grey:                  #1a1a1a
    interactive action yellow   #ffff88
    red                         #cc0000
    light blue                  #E6EEFC
    dark blue                   #0B43A8

*/

.small {
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.4em;
}

.gray {
  color:#999999;
  font-family: Georgia, serif;
  font-size: 13px;
  font-style: italic;
  font-weight: normal;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.6em;
}

.hightlight {
  background-color: #ffff88;
  font-weight: bold;
  color: #36393d;
}

a:link, a:visited, a:hover, a:active, h1, h2, h3 { color: #36393d; }
a { -moz-outline: none; }

body {
  color: #222;
  background: #cfcfcf;
  font-family: helvetica, arial, sans-serif;
}

hr {
  background: #f0f0ee;
  color: #f0f0ee;
}

#header {
  background: #36393d;
}

#header h1 {
  padding: 15px 0;
  font-size: 28px;
  font-style: normal;
  font-weight: bold;
  text-transform: normal;
  letter-spacing: -1px;
  line-height: 1.2em;
}

#header h1 a:link, #header h1 a:active, #header h1 a:hover, #header h1 a:visited {
  color: #FFF;
}

#user-navigation {
  top: 5px;
  bottom: 10px;
  position: absolute;
  right: 25px;
}

#user-navigation a:hover {
	background: rgba(255,255,255,0.4)
}
#user-navigation a.logout {
  background: #cc0000;
  padding: 1px 4px;
  -moz-border-radius: 4px;
	-webkit-border-radius: 3px;
}

#main .block .content {
  background: #FFF;
  padding-top: 1px;
}

#main .block .content h2 {
  margin-left: 15px;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  text-transform: normal;
  letter-spacing: -1px;
  line-height: 1.2em;
}

#main .block .content p {
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.45em;
}

#sidebar .block {
  background: #FFF;
}

#sidebar .block h4 {
  font-weight: bold;
}

#sidebar .notice {
  background: #E6EEFC;
}

#sidebar .notice h4 {
  color: #0B43A8;
}

#sidebar h3, .link-group h3 {
  background: #36393d;
  color: #FFF;
  border-bottom: 5px solid #1a1a1a;
}


#main-navigation ul {
    padding: 0px;
    margin: 0 0 10px 0;
    position: relative;
}

#main-navigation ul li {
    display: block;
}

#main-navigation ul li a {
	display: block;
	text-transform: uppercase;
	text-shadow: 1px 1px 2px rgba(89,22,20,0.3);
	color: #581514;
	padding: 5px 20px;
	margin: 2px;
	background: rgba(255,255,255,0.4);
	letter-spacing: 1px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

#main-navigation ul:hover li a {
	color: transparent;
	text-shadow: 0px 0px 10px #fff;
	background: rgba(88,22,22,0.2);
}


#main-navigation ul li a:hover{
	background: transparent;
	text-shadow: 1px 1px 10px rgba(89,22,20,0.6);
	color: #ffffff;
}

#sidebar ul li a:link, #sidebar ul li a:visited, .link-group ul li a:link, .link-group ul li a:visited {
  background: #FFF;
  border-bottom: 1px solid #F0F0EE;
  text-decoration: none;
}

#sidebar ul li a:hover, #sidebar ul li a:active, .link-group ul li a:hover, .link-group ul li a:active {
  background: #666666;
  color: #ffffff;;
}

#main-navigation {
  background: #1a1a1a;
}

#main-navigation ul li {
  background: #1a1a1a;
  margin-right: 0;
}

#main-navigation ul li.active {
  background: rgba(255,255,255,0.4);
}

.secondary-navigation ul li a:link, .secondary-navigation ul li a:visited, .secondary-navigation ul li a:hover, .secondary-navigation ul li a:active,
#user-navigation ul li a:link, #user-navigation ul li a:visited, #user-navigation ul li a:hover, #user-navigation ul li a:active {
  text-decoration: none;
  color: #FFF;
}

.secondary-navigation li a:hover {
  background: #666666;
}

#main-navigation ul li.active a:link, #main-navigation ul li.active a:visited, #main-navigation ul li.active a:hover, #main-navigation ul li.active a:active {
  color: #1a1a1a;
}

.secondary-navigation {
  background: #36393d;
  border-bottom-color: #1a1a1a;
}

.secondary-navigation ul li.active, .secondary-navigation ul li.active a:hover {
  background-color: #1a1a1a;
}

#footer .block {
  color: #FFF;
  background: #1a1a1a;
}

#footer .block p {
  margin: 0;
  padding: 10px;
}

/* pagination */

.pagination a, .pagination span {
  background: #cfcfcf;
  -moz-border-radius: 3px;
  border: 1px solid #c1c1c1;
}

.pagination em {
  background: #36393d;
  color: #FFF;
  border: 1px solid #36393d;
}

.pagination a {
  color: #1a1a1a;
}

.pagination a:hover {
  border: 1px solid #666;
}


/* tables */

.table th {
  background: #36393d;  
  color: #FFF;
}

.table td {
  border-bottom:1px solid #F0F0EE;
}

.table tr.even {
  background: #ebebeb;
}

/* forms */

.form label.label {
  color: #666666;
}

.form input.text_field, .form textarea.text_area {
  width: 100%;
  border: 1px solid silver;
}

.form input.button {
  background: rgba(255,255,255,0.4);
  -moz-border-radius: 5px;
  border: 1px solid #c1c1c1;
  padding: 2px 5px;
  cursor: pointer;
  color: #36393d;
  font-weight: bold;
  font-size: 11px;
}

.form input.button:hover {
  border: 1px solid #666;
}

.form .description {
  font-style: italic;
  color: #8C8C8C;
  font-size: .9em;
}

.form .navform a {
  color: #cc0000;
}

/* flash-messages */
#flash-message .message {
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  text-align:center;
  margin: 0 auto 15px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;

}

#flash-message .message p {
  margin:8px;
}

#flash-message .alert {
  border: 1px solid #fbb;
  background-color: #ff0000;
  color: #ffffff;
  font-weight: bold;
}

#flash-message .error {
  border: 1px solid #fbb;
  background-color: #ff0000;
  color: #ffffff;
  font-weight: bold;
  box-shadow: 4px 4px 2px #888;
  -webkit-shadow: 4px 4px 2px #888;
	
}

#flash-message .warning {
  border: 1px solid #fffaaa;
  background-color: #ffffcc;
}

#flash-message .notice {
  border: 1px solid #1FDF00;
  background-color: #BBFFB6;
}

/* lists */

ul.list li {
  border-bottom-color: #F0F0EE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

ul.list li .item .avatar {
  border-color: #F0F0EE;
  border-width: 1px;
  border-style: solid;
  padding: 2px;
}

/* box */

#box .block {
  background: #FFF;
}

#box .block h2 {
  background: #36393d;
  color: #FFF;
}


/* rounded borders */

#main, #main-navigation, #main-navigation li, .secondary-navigation, #main .block, #sidebar .block, #sidebar h3, ul.list li,
#footer .block, .form input.button, #box .block, #box .block h2 {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
}

.secondary-navigation li.first a, .secondary-navigation ul li.first, .table th.first, .table th.first {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
}

.table th.last {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
}

.secondary-navigation ul li.first {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
}
.link-group {
	width:200px;
}

ul.navigation {
	width:100%;
}
.link-group, .link-group .block, .link-group ul.navigation  {
  border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  float:left;
  margin-right:20px;
  border-radius: 4px;
}

#sidebar, #sidebar .block, #main .block, #sidebar ul.navigation, ul.list li, #footer .block, .form input.button, #box .block {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
}

.secondary-navigation {
  border-bottom-width: 5px;
}

