// Place all the styles related to the feature_requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td {
  &.status_D {
    background-color: green;
    color: white;
  }
  &.status_P {
    border: solid green 1px;
  }
  &.status_O {
    background-color: yellow;
  }
}

