defaults: &DEFAULTS

  config:
    festival_application_open: false
  contacts:
    admin:
      name: "BDZ Admin Webmaster"
      mail: "webmaster@example.com"
    treasurer:
      name: ""
      street: ""
      plz: ""
      ort: ""
      dept: ""
      phone: ""
      fax: ""
      mail: "schatzmeister@example.com"
      job: "Schatzmeister"
    gs:
      name: ""
      dept: "Bundesgeschäftsstelle"
      street: ""
      plz: ""
      ort: ""
      phone: ""
      fax: ""
      job: "Bundesgeschäftsstelle"
      mail: "geschaeftsstelle@example.com"
    festival:
      name: ""
      dept: "Bundesgeschäftsstelle"
      street: ""
      plz: ""
      ort: ""
      phone: ""
      fax: ""
      job: ""
      mail: ""
      bank: ""
      iban: ""
      bic: ""
    distinction:
      name: ""
      dept: "Ehrungen"
      street: ""
      plz: ""
      ort: ""
      phone: ""
      fax: ""
      job: ""
      mail: "ehrungen@example.com"

  company: "Bund Deutscher Zupfmusiker e.V."
  companyShort: "BDZ"
  konto: ""
  blz: ""
  bank: ""
  iban: ""
  bic: ""
  creditor_id: ""
  sepa: true

  invoice_workdir: "/srv/httpd/example.com/tmp"
  invoice_archive_dir: "/srv/httpd/example.com/documents"
  template_dir: "/srv/httpd/example.com/documents/templates"
  docs_archive_dir: "/srv/httpd/example.com/documents"
  docs_work_dir: "/srv/httpd/example.com/tmp"
  meldebogen_url: "http://www.example.com/meldebogen/"
  mb_form_url_l: "http://www.example.com/formulare/meldebogen_landesorchester.pdf"
  mb_form_url_v: "http://www.example.com/formulare/meldebogen.pdf"

  fees:
    mgebuehr1: 10
    vzuschlag: 30
    mgebuehr2: 20
    saeumnis_zuschlag: 30

  distinction_prices:
    certificate: '4.5'
    silverneedle: 7
    goldenneedle: 7
    medal: 28
    honorletter: 19
    nationalneedle: 6
    porto: '1.45'

  tariff:
    koop: 50
    lvOrch: 50
    lvMember: 8
    maxBeitrag: 950
    minBeitrag: 160
    zeitung: 16
    uv: '1.2'
    hvgebuehrLv: 8
    childrenRate: '2.5'
    teensRate: 11
    youthRate: 16
    adultRate: 16
    uvRate: '1.20'
    ztgRate: '0.25'
    lvPart: 0.15
    loZtgCount: 10
    koopZtgCount: 2
  report_sheet:
    threshold: 0.3
  magazine:
    subscription:
      A: 123.0
      B: 234.0
    advert:
      F: 1000
      H: 500
      Q: 250
      T: 333

  festival_prices:
    fest: 150
    fest_erm: 100
    fest_bdz: 140
    fest_bdz_erm: 90
    tageskarte: 30
    tageskarte_erm: 20
    concert: 10
    concert_erm: 7

development:
  <<: *DEFAULTS

test:
  <<: *DEFAULTS

production:
  <<: *DEFAULTS
