table.bordered {
	border: solid black 1px;
	border-style: collapse;
}

table.bordered td {
	border:solid black 1px;
	border-style: collapse;
}

table.bordered th {
	border:solid black 1px;
	border-style: collapse;
}

td.number, th.number {
	text-align:right;
}

td.sum {
	text-align:right;
	font-weight:bold;
}

td.currency {
	text-align:right;
}

.field_with_errors input {
	border: solid red 1px;
}

#errorExplanation {
	background-color:white;
	padding: 5px;
	border: 2px solid red;
}

#errorExplanation ul {
	margin-left:20px;
}

li.username {
color:#d0d0d0;
}

/*.alert {
background-color:#ff0000;
color:#ffffff;
}*/

td.label {
  font-weight:bold;
  text-align:right;
}

td.label_l {
  font-weight:bold;
  text-align:left;
}

#footer {
	width:100%;
	position:relative;
	float:left;
	box-shadow: 10px 10px 5px #888;
	-webkit-shadow: 10px 10px 5px #888;
	
	margin-top:25px;	
}

#mainblock {
	padding: 10px;
}

a.sort {
	color: #ffffff;
}

#sidebar {
	position:relative;
	top:0px;
	float:right;
}

h2.error {
	border: solid silver 1px;
	color:#ff0000;
	font-weight:bold;
}

table.border {
	border:solid silver 1px;
	margin:0;
	border-collapse:collapse;

}

table td.check {
	text-align:center;
}

table.border tr {
	border:solid silver 1px;
}

table.border td,th {
	border:solid silver 1px;
	padding:2px;
}

table.short {
  width: 50%
}

.flash {
  width: 70%;
}

#main .content {
	padding-left: 10px;
	padding-bottom:10px;
}

.infobox {
	min-height: 50px;
	border: solid silver 1px;
	padding: 5px;
	padding-left: 50px;
	background-image: url("/assets/icons/info.png"); 
	background-repeat: no-repeat;
	background-position: 5px center;
}

.infobox .title {
	font-weight:bold;
	font-size:14pt;
}

td.invalid {
        background-color:#ff0000;
        color: #ffffff;
}

td.warning {
        background-color:#ffff00;
}
