table.bordered {
	border: solid black 1px;
	border-style: collapse;
}

table.bordered td {
	border:solid black 1px;
	border-style: collapse;
}

table.bordered th {
	border:solid black 1px;
	border-style: collapse;
}

td.sum {
	text-align:right;
	font-weight:bold;
}

td.currency {
	text-align:right;
}

.field_with_errors input {
	border: solid red 1px;
}

#errorExplanation {
	background-color:#d0d0d0;
	padding: 5px;
	border: 1px solid red;
}

#errorExplanation ul {
	margin-left:20px;
}

li.username {
color:#d0d0d0;
}

.alert {
background-color:#ff0000;
color:#ffffff;
}

td.label {
  font-weight:bold;
  text-align:right;
}

#footer {
	width:98%;
	position:relative;
	float:left;
	
}

#mainblock {
	padding: 10px;
}

a.sort {
	color: #ffffff;
}

#sidebar {
	position:relative;
	top:0px;
	float:right;
}
