// Place all the styles related to the errors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mainbox {
  margin: auto;
  margin-top:10px;
  margin-bottom: 10px;
  height: 600px;
  width: 600px;
  position: relative;

  #error-icon {
    position: absolute;
    font-size: 8.5rem;
    left: 42%;
    top: 15%;
  }

.err-msg {
    text-align: center;
    font-size: 1.6rem;
    position:absolute;
    left: 16%;
    top: 45%;
    width: 75%;
  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    text-decoration: underline;
  }
}

}

.err {
    font-family: "Montserrat";
    font-size: 10.5rem;
    position:absolute;
    left: 20%;
    top: 5%;
}


.err2 {
    font-family: "Montserrat";
    font-size: 10.5rem;
    position:absolute;
    left: 63%;
    top: 5%;
}



